.profile-avatar {
  position: relative;
  top: -40px;
  left: -40px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  z-index: 3;
}

.profile-text {
  top: 30px;
  padding: 10px 50px 10px;
}

.text-line {
  display: flex;
  align-items: baseline;

  h4 {
    margin-left: 8px;
  }
}
