.show-booking {
  width: 100%;
  grid-column: 4;
  margin-top: 45px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 80px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

  h2 {
    padding: 10px;
  }
}

.booking-input {
  width: 210px;
}
