// Specific CSS for your home-page
.banner {
  background-position: center;
  background-size: cover;
  margin-bottom: 30px;
}

.banner .container {
  height: 70vh;

}

.banner .container .banner-text h1{
  color: white;
  font-size: 50px;
  text-align: center;
}

.container .row-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

.container .homepage-message h2{
  font-size: 40px;
}

.homepage-message {
  text-align: center;
  width: 500px;
  margin: 30px auto 32px auto;

}

.form-group-1{
  width: 50%;
  padding: 10px;
}



