<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/1858161/pexels-photo-1858161.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
  <div class="container">
    <div class="row-1 justify-content-center">
      <div class="banner-text col-6 col-lg-6">
        <h1>FAUXTOGRAPHY</h1>
      </div>
    </div>
    <div class="row-1 justify-content-center">
      <div class="card col-12 col-lg-9">
        <div class="card-body col-12">
          <h5 class="card-title">Find a fauxtographer</h5>
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="container">
    <h2 class="homepage-message">Explore Fauxtographers</h2>
    <div class="cards">
      <% @photographers.each do |photographer| %>
        <%= link_to photographer_path(photographer) do %>
          <%= render 'photographers/card', photographer: photographer %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
