<!-- <div>
  <h1>  </h1>
  <p>
    <i class="fas fa-thumbtack"></i> <%= @photographer.location %><br>

    <%= @photographer.price_rate %>
  </p>
</div>
 -->

<div>
  <h3 class="title"></h3>
  <div class="content">
    <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank">
      <div class="content-overlay"></div>
      <img class="content-image" src="https://images.unsplash.com/photo-1433360405326-e50f909805b3?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=359e8e12304ffa04a38627a157fc3362">
      <div class="content-details fadeIn-top">
        <h3><%= @photographer.name %></h3>
        <p><%= @photographer.email %><br></p>
      </div>
    </a>
  </div>
</div>
