<div class="card show-booking">
    <div class="card-body">
        <h5 class="card-title">Select date and time</h5>
        <h2><strong>Hour rate:</strong>
        <br>$<%= @photographer.price_rate %></h2> 
        <h2><strong>Included:</strong>
        <br>15 edited photos</h2>
        <%= render 'booking-form' %>
    </div>
</div>