<div class="container mt-5">
  <%= render 'form' %>
  <br>
  <div class="row">
    <div class="cards">
        <% @photographers.each do |photographer| %>
        <%= render 'photographers/card', photographer: photographer %>
      <% end %>
    </div>
  </div>
</div>
