<div class="container mt-5">
  <%= render 'form' %>
  <br>
  <div class="row">
    <div class="cards">
      <% @photographers.each do |photographer| %>
        <%= link_to photographer_path(photographer) do %>
          <%= render 'photographers/card', photographer: photographer %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
