.confirmation{
  width: 600px;
  height: 700px;

}

.confirmation-content{
  width: fit-content;
  background-color: white;
  border-radius: 4px;
  padding: 30px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  margin-bottom: 30px;
}

.confirmation-content img{
  margin: 40px;
  border-radius: 4px;
}

.center{
  margin: 40px auto 137px auto;;
  text-align: center;
}

.confirmation-button{
  width: 100px;
  padding: 10px;
  background-color: #333333;
  color: white;
  border-radius: 4px;
}

a.link-to-text-color {
  color: #fff;
}
